@import '../../../_common/animation-prefixes';
@import '../../../_common/keyframe-prefixes';

.sword-animation {
	@include animation-timing-function(linear);
  	@include animation-iteration-count(1);
  	@include animation-fill-mode(forwards);
}

.sword-slash.slash-animation { 
	@include animation-name(slash-animation);
	@include animation-duration(0.25s);
	@extend .sword-animation;
}
.sword-slash.slash-animation-vertical { 
	@include animation-name(slash-animation-vertical);
	@include animation-duration(0.15s);
	@extend .sword-animation;
}

@include keyframes(slash-animation) { 
	0% 		{ width: 0vw; }
	100% 	{ width: 100vw; }
}

@include keyframes(slash-animation-vertical) {
	0% 		{ height: 0vh; }
	100% 	{ height: 100vh; }
}



	