$sword-width: 40px;

.sword-slash-container {
		position: absolute;
		background-color: transparent;
}

.horizontal {
	height: $sword-width;
	width: 	100vw;
	top: 	calc(50vh - #{$sword-width} * 0.5)
}

.vertical { 
	height: 100vh;
	width: 	$sword-width;
	left: 	calc(50vw - #{$sword-width} * 0.5);
}

.sword-slash {
	background-color: white;
	height: $sword-width;
	width: 0vw;
}

.vertical {
	.sword-slash {
		height: 0vh;
		width: $sword-width
	}
}

@import './sword-slash-linear-animation';