.sword-slash-container {
		position: absolute;
		background-color: transparent;
}

.horizontal {
	height: 10vh;
	width: 100vw;
	top: 45vh;
}

.vertical { 
	height: 100vh;
	width: 5vw;
	left: 47.5vw;
}

.sword-slash {
	background-color: white;
	height: 10vh;
	width: 0vw;
}

.vertical {
	.sword-slash {
		height: 0vh;
		width: 5vw;
	}
}

@import './sword-slash-linear-animation';