@import '../orbMenu/orb/orb-dimensions.scss';

#JoeImg {
	@media (orientation: landscape) { --img-width: 70vh; }
	@media (orientation: portrait) 	{ --img-width: 80vw; }
	position: absolute;
	width: var(--img-width);
	top: 40%;
	left: calc(50% - (var(--img-width) * 0.5) );
}