.spiral-sword-animation-container {
	position: absolute;
	width: 100vw;
	height: 100vw;
	background-color: transparent;
}

.spiral-sword-animation-container:after {
  content: " ";
  display: table;
  clear: both;
}

.spiral-sword-animation-container {
	.spiral-sword-slash	 {
      float: left;
      width: 50vw;
      height: 50vh;
      transition: all 0.5s linear;
    }

    .spiral-sword-slash:nth-child(1){
    	border-top: 	50vh solid transparent;
    	border-right: 	50vw solid transparent;
	}

	.spiral-sword-slash:nth-child(2){
		border-bottom: 	50vh solid transparent;
    	border-right: 	50vw solid transparent;
	}

	.spiral-sword-slash:nth-child(3){
		border-bottom: 	50vh solid transparent;
    	border-right: 	50vw solid transparent;
    	transform: 		rotateX(180deg) rotateY(180deg);
	}

	.spiral-sword-slash:nth-child(4){
		border-bottom: 	50vh solid transparent;
    	border-right: 	50vw solid transparent;
    	transform: 		rotateX(180deg) rotateY(180deg);
	}
}

@import './sword-slashes-circular-animations';