// Orb dimensions
$orb_radius: 7vw;
// Orb screen offset
$std_offset: 10vw;

// Due to img of orb being square translate dimensions so we can treat them like a circle
$orb-width: $orb-radius;
$orb_height: $orb_radius;
$orb_radius_offset: -1* 0.5 * $orb_width;