@import 'orb-dimensions';
@import '../../../_common/transform-prefixes';

// This centers them in the container
.orb {
	position: absolute;
	top: 50%;
	left: 50%;
	width: $orb_width;
	height: $orb_width;
	z-index: 100;
  
	img {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.orb-text {
		position: absolute;
		font-size: 20px;
		color: white;
		top: 50%;
		left: 50%;
		@include transform (translate(-50%, -75%) );
		text-transform: capitalize;
	}

}

.orb.front { z-index: 101 }

// These offset them individually
$orb0_Y-offset: -1 * $std_offset;
$orb1_X-offset: $std_offset;
$orb2_Y-offset: $std_offset;
$orb3_X-offset: -1 * $std_offset;

.orb-0 { @include transform( translateY($orb0_Y-offset) ) }
.orb-1 { @include transform( translateX($orb1_X-offset) ) }
.orb-2 { @include transform( translateY($orb2_Y-offset) ) }
.orb-3 { @include transform( translateX($orb3_X-offset) ) }

@import 'orb-circular-animations';
@import 'orb-linear-animations';