@import '../../../_common/transform-prefixes';

.orb {
	@media (orientation: landscape) { --orb-radius: 15vh; }
	@media (orientation: portrait) 	{ --orb-radius: 20vw; }

	--orb-center-offset: 	calc(var(--orb-radius) * -0.5 ); 
	--orb-cluster-radius: 	calc(var(--orb-radius) *  1.5 );

	position: absolute;
	top: 	calc( 50% + var(--orb-center-offset) );
	left: 	calc( 50% + var(--orb-center-offset) );
	width: 	var(--orb-radius);
	height: var(--orb-radius);
	z-index: 10; // Places orbs at highest layer
  
	img {
		position: absolute;
		width: 	100%;
		height: 100%;
	}

	.orb-text {
		position: absolute;
		font-size: calc(var(--orb-radius) * 0.25);
		color: white;
		top: 	50%;
		left: 	50%;
		@include transform (translate(-50%, -75%) );
		text-transform: capitalize;
	}
}

.orb.front { z-index: 11 }	// Used to push the clicked orb to the highest layer

// These offset them individually
$orb0_Y: calc( -1 * var(--orb-cluster-radius) );
$orb1_X: var(--orb-cluster-radius);
$orb2_Y: var(--orb-cluster-radius);
$orb3_X: calc( -1 * var(--orb-cluster-radius) );

.orb-0 { @include transform( translateY( $orb0_Y ) ) }
.orb-1 { @include transform( translateX( $orb1_X ) ) }
.orb-2 { @include transform( translateY( $orb2_Y ) ) }
.orb-3 { @include transform( translateX( $orb3_X ) ) }


@import 'orb-circular-animations';
@import 'orb-linear-animations';