@import '../../../_common/transform-prefixes';

.orb {
	@media (orientation: landscape) { 
		--orb-radius: 15vh;
		--orb-offset: -7.5vh;
		// * Note * could not use css calc to generate values
		// was NOT supported by safari on iPad
		--orb-cluster-offset-positive: 22.5vh;
		--orb-cluster-offset-negative: -22.5vh; 
	}
	@media (orientation: portrait) 	{ 
		--orb-radius: 20vw; 
		--orb-offset: -10vw;
		// * Note * could not use css calc to generate values
		// was NOT supported by safari on iPad
		--orb-cluster-offset-positive: 30vw;
		--orb-cluster-offset-negative: -30vw;
	}

	position: absolute;
	top: 	calc( 50vh + var(--orb-offset));
	left: 	calc( 50vw + var(--orb-offset));
	width: 	var(--orb-radius);
	height: var(--orb-radius);
	z-index: 10; // Places orbs at highest layer
  
	img {
		position: absolute;
		width: 	100%;
		height: 100%;
	}

	.orb-text {
		position: absolute;
		font-size: calc( var(--orb-radius) * 0.25);
		color: white;
		top: 	50%;
		left: 	50%;
		@include transform (translate(-50%, -75%) );
		text-transform: capitalize;
	}
}

.orb.front { z-index: 11 }	// Used to push the clicked orb to the highest layer

// These offset them individually
$orb0_Y: var(--orb-cluster-offset-negative);
$orb1_X: var(--orb-cluster-offset-positive);
$orb2_Y: var(--orb-cluster-offset-positive);
$orb3_X: var(--orb-cluster-offset-negative);

.orb-0 { @include transform( translateY( $orb0_Y ) ) }
.orb-1 { @include transform( translateX( $orb1_X ) ) }
.orb-2 { @include transform( translateY( $orb2_Y ) ) }
.orb-3 { @include transform( translateX( $orb3_X ) ) }


@import 'orb-circular-animations';
@import 'orb-linear-animations';